a {
    text-decoration: none !important;
}

body {
    background-color: #000000 !important;
    font-family: 'DM Mono', monospace !important;
}

h1 {
    font-weight: bold !important;
}

h2 {
    text-decoration: underline;
}

.navbar-brand {
    font-weight: bold !important;
}

.table {
    margin: 0 auto !important;
    width: 80% !important;
}

#name-heading {
    text-decoration: none;
}
