a {
    color: #FFFFFF;
    text-decoration: none;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'DM Mono', monospace;
    text-align: center;
}

nav {
    background-color: #000000;
    border-bottom: solid 1px #FFFFFF;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

svg {
    height: 2rem;
    width: 2rem;
}

.about {
    background-color: #FFFFFF;
    color: #000000;
    padding: 1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#about-heading {
    color: #000000;
}

#about-statement {
    margin: 0 2rem;
    text-align: left;
}

#social-media li {
    display: inline;
    margin-right: 20px;
}

#header h1 {
    font-size: 2.5rem;
}

#main-content {
    border: solid 1px;
    margin: 5vh 10vw;
}
